@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* .competition-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
* .competition-screen .container {
  width: 90.0243309002%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
* .competition-screen .container .competition-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}
* .competition-screen .container .competition-screen .competition-heading-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: clamp(32px, 14.95296vw, 128px);
}
* .competition-screen .container .competition-screen .competition-heading-container .competition-heading {
  color: #168D42;
  font-family: "Poppins", sans-serif;
  font-size: clamp(12px, 5.60736vw, 48px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
* .competition-screen .container .competition-screen .competition-heading-container .competition-p {
  margin-top: clamp(8px, 3.73824vw, 32px);
}
* .competition-screen .container .competition-screen .competition-tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: clamp(16px, 7.47648vw, 64px);
}
* .competition-screen .container .competition-screen .competition-tabs .competition-tab {
  width: 100%;
  position: relative;
  border-radius: 15px;
  margin-top: clamp(24px, 11.21472vw, 96px);
}
* .competition-screen .container .competition-screen .competition-tabs .competition-tab .icon {
  position: absolute;
  top: clamp(-20px, -9.3456vw, -80px);
  left: clamp(12.5px, 5.841vw, 50px);
  z-index: 1000;
}
* .competition-screen .container .competition-screen .competition-tabs .competition-tab .competition-white {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 2px 8px 0px rgba(129, 189, 149, 0.25);
}
* .competition-screen .container .competition-screen .competition-tabs .competition-tab .competition-white .tab-text {
  padding-top: clamp(16px, 7.47648vw, 64px);
  padding-left: clamp(16px, 7.47648vw, 64px);
  padding-bottom: clamp(8px, 3.73824vw, 32px);
}
* .competition-screen .web-container {
  display: none;
}

@media screen and (min-width: 1200px) {
  .competition-screen {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .competition-screen .container {
    display: none;
  }
  .competition-screen .web-container {
    width: 77.3611111111%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: clamp(64px, 6.66624vw, 256px);
  }
  .competition-screen .web-container .competition-heading-container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .competition-screen .web-container .competition-heading-container .competition-heading {
    color: #168D42;
    font-family: "Poppins", sans-serif;
    font-size: clamp(16px, 1.66656vw, 64px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .competition-screen .web-container .competition-heading-container .competition-p {
    margin-top: clamp(16px, 1.66656vw, 64px);
  }
  .competition-screen .web-container .competition-tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .competition-screen .web-container .competition-tabs .competition-tabs-upper {
    width: 100%;
    display: flex;
    margin-top: clamp(32px, 3.33312vw, 128px);
    align-items: center;
    justify-content: space-between;
  }
  .competition-screen .web-container .competition-tabs .competition-tabs-upper .competition-tab {
    width: clamp(175px, 18.228vw, 700px);
    height: clamp(69.5px, 7.23912vw, 278px);
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 2px 8px 0px rgba(129, 189, 149, 0.25);
  }
  .competition-screen .web-container .competition-tabs .competition-tabs-upper .competition-tab .icon {
    width: clamp(40px, 4.1664vw, 160px);
    height: clamp(40px, 4.1664vw, 160px);
    margin-top: clamp(-50px, -5.208vw, -200px);
    margin-left: clamp(16px, 1.66656vw, 64px);
  }
  .competition-screen .web-container .competition-tabs .competition-tabs-upper .competition-tab .competition-white {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .competition-screen .web-container .competition-tabs .competition-tabs-upper .competition-tab .competition-white .tab-text {
    font-size: clamp(12px, 1.24992vw, 48px);
  }
}/*# sourceMappingURL=competition-screen.css.map */